<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalculatorAPP"
        tools:targetApi="31">
        <activity
            android:name=".DataTransferCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".CookingCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".FuelCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".AngleCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".AccelerationCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".TimeCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".TemparatureCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".SpeedCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".MassCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".LengthCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".DataCalcualatorActivity"
            android:exported="false" />
        <activity
            android:name=".AreaCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".BmiCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".AdvancedCalculatorActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>