<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/calculatorlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalculatorAPP"
        tools:targetApi="31">
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".finance.CurrencyCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".finance.TipCalculateActivity"
            android:exported="false" />
        <activity
            android:name=".finance.UnitPriceCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".finance.SalesTaxCalculateActivity"
            android:exported="false" />
        <activity
            android:name=".finance.creditCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".finance.InvestmentCalculateActivity"
            android:exported="false" />
        <activity
            android:name=".timeCalculator.TimetimeCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".timeCalculator.DateCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".timeCalculator.AgeCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".healthCalculator.BodyFatPercentageCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".healthCalculator.DailyCalorieBurnCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".geometryCalculator.BodiesCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".geometryCalculator.ShapesCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".algebraCalculator.PrimeCheckerCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".algebraCalculator.CombinationCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".algebraCalculator.GcfLcmCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".algebraCalculator.FractionsCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".algebraCalculator.EqiationsCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".algebraCalculator.RatioCalculaorActivity"
            android:exported="false" />
        <activity
            android:name=".algebraCalculator.ProportionCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".algebraCalculator.AverageCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".algebraCalculator.PercentageCalculateActivity"
            android:exported="false" />
        <activity
            android:name=".unitConverter.NumericBaaseCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".unitConverter.VolumetricFlowCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".unitConverter.VolumeCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unitConverter.TorqueCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unitConverter.PressureCalculaterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unitConverter.PowerCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unitConverter.ForceCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unitConverter.EnergyCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unitConverter.DataTransferCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".unitConverter.CookingCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unitConverter.FuelCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unitConverter.AngleCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unitConverter.AccelerationCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unitConverter.TimeCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unitConverter.TemparatureCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unitConverter.SpeedCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unitConverter.MassCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unitConverter.LengthCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unitConverter.DataCalcualatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unitConverter.AreaCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".healthCalculator.BmiCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdvancedCalculatorActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".LoginScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>