<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo4"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalculatorAPP"
        tools:targetApi="31">
        <activity
            android:name=".AgeCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".BodyFatPercentageCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".DailyCalorieBurnCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".BodiesCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ShapesCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".PrimeCheckerCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".CombinationCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".GcfLcmCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".FractionsCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".EqiationsCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".RatioCalculaorActivity"
            android:exported="false" />
        <activity
            android:name=".ProportionCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".AverageCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".PercentageCalculateActivity"
            android:exported="false" />
        <activity
            android:name=".NumericBaaseCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".VolumetricFlowCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".VolumeCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TorqueCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PressureCalculaterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PowerCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForceCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EnergyCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataTransferCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".CookingCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FuelCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AngleCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccelerationCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TimeCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TemparatureCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpeedCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MassCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LengthCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataCalcualatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AreaCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BmiCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdvancedCalculatorActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>